# Here is my heading

And here is some text.

## Here is another heading

And here is some more text.

In [1]:
# Now we're going to write some code.
def print_awesome():
    return "Awesome!"

print_awesome()

'Awesome!'

In [11]:
import seaborn.apionly as sns
from pandas import DataFrame
iris = sns.load_dataset('iris')
iris = DataFrame(iris)
iris[:5]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa